<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rick and Morty Wiki</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <header class="header">
        <a href="/" class="logo">
            <img class="logo-image" src="/images/android-chrome-192x192.png" alt="logo image of rick and Morty">
            <h2 class="logo-text">Rick and Morty</h2>
        </a>

        <nav class="navbar">
            <a href="/" class="nav-element">Home</a>
        </nav>
    </header>
</body>
</html>